<!DOCTYPE html>
<html>
<head>
    <title>The World - @ViewBag.Title</title>
    <meta charset="utf-8" />
    <!-- ATTENTION ~ refers to root of website -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="sidebar">
        <img src="/img/fatSquirl.JPG" alt="Fat Squirly!" class="headshot" />
        <span id="username">Dummy User</span>
        <ul class="menu">
            <!-- Need to import Microsoft.AspNetCore.Mvc.TagHelpers-->
            <!-- Also look at _ViewImports.cshtml -->
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="main">
            <div>
                <button id="sidebarToggle">Toggle Menu</button>
            </div>
            <!-- This is where the body is injected -->
            @RenderBody()
        </div>
        <div id="footer">
            &copy; Look at the fancy copy symbol
        </div>
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>